<!doctype html>
<html>
<head>
<title>
home page
</title>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>



</head>
<body>

<h2>Whois Table</h2>

<table>
  <tr>
    <th>Domain</th>
    <th>Registrar</th>
    <th>Company</th>
    <th>Creaion Date</th>
    <th>Expiration Date</th>
  </tr>
  {%for item in content%}
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    
  </tr>
  {% endfor %}
</table>
 

</body>

</html>


